<h1><%= @team.name %></h1>
<h2>Team Membership</h2>
<%= render 'teams/membership',
    team: @team
%>

<%= render 'projects/project_list_item',
    project_title: "Current Projects",
    projects: @team_projects %>
