<h1><%= @team.name %></h1>
<h2>Team Membership</h2>
<ul>
  <% @team.active_assignments.each do |assignment| %>
    <li class="team-member"><%= assignment.person.name %></li>
  <% end %>
</ul>

<h2>Assigned Projects</h2>
<ul class="project-list">
  <% @team.projects.each do |project| %>
    <%= render 'projects/project_list_item', project: project %>
  <% end %>
</ul>
