<h1>People</h1>
<%= link_to "New Person", new_person_url %>

<ul>
  <% @people.each do |person| %>
    <li><%= link_to person.name, person %> <%= person_assignments_list person %></li>
  <% end %>
</ul>
