<li class="project-list-item">
  <ul class="project">
    <li class="name"><%= link_to project.name, project %></li>
    <li class="team"><%= project.team_name %></li>
    <li class="project-status"><%= project.status %></li>
    <li class="project-due-at"><%= project.due_at %></li>
  </ul>
</li>
