<h1>Weekly Plans</h1>

<h2>Plan for <%= @week %></h2>
<%= link_to "Previous", weekly_plan_url(@previous_week) %>
<%= link_to "Next", weekly_plan_url(@next_week) %>

<% @plans.each do |plan| %>
  <%= render "plans/plan", plan: plan %>
<% end %>

